
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Catégories
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
        {% for category in categories %}
            <li><a class="dropdown-item" href="#"> {{ category.name }} </a></li>
        {% endfor %}    
    </ul>
</li>